body {
  font-size: 17px;
  padding: 70px 0px;
  position: relative;
}

.navbar-brand {
  font-weight: bold;
}

*[class^="col-"] {
  margin-bottom: 1em;
}

.row {
  margin-top: 2em;
  margin-bottom: 2em;
}

.app-icon {
  border-radius: 10px;
}
